body {
  min-width: 1200px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
}

body > input[type="radio"] {
  display: none;
}

.btn {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 20px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: rgb(234, 85, 58);
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1.0);
}

.btn:active {
  background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


a {
  cursor: pointer;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  margin-bottom: 0px;
}

.main-header-layout {
  display: flex;
  flex-wrap: wrap;
}

.main-header-layout > a {
  height: 74px;
}

.logo {
  padding-top: 9px;
  padding-left: 0px;
}


.main-navigation {
  min-height: 75px;
}

.main-navigation ul {
  padding: 0;
  margin-left: 11px;
  font-size: 0px;
}

.main-navigation li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 23px;
  margin-right: 2px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 7px 13px;
  border-radius: 20px;
}

.main-navigation a {
  text-decoration: none;
  color: white;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.main-navigation li:hover {
  background-color: #f7f6f3;
  color: #333333;
}

.main-navigation li:hover > a {
  color: #333333;
}

.main-navigation li:active {
  background-color: #eaeaea;
  color: #353535;
  box-shadow: 0 -2px 0 rgba(109, 108, 108, 1.0);
}

.wrap-submenu {
  display: none;
  position: absolute;
  left: -19px;
  z-index: 1;
}

.submenu {
  position: relative;
  width: 143px;
  min-height: 170px;
  background-color: #f8f7f4;
  margin-top: 12px;
  border-radius: 5px;
  box-shadow: -1px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.submenu li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.submenu li:active {
  box-shadow: none;
}

.submenu a {
  display: inline-block;
  vertical-align: top;
  width: 143px;
  border: none;
  border-radius: 0px;
  padding: 7px 0;
  color: #323232;
  padding-left: 20px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.submenu a:hover {
  background-color: #fbded7;
}

.submenu a:active {
  background-color: #f6b5a5;
}

.submenu .new {
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 12px;
  box-shadow: 0 8px 0px -7px #d1d0ce;
}

.main-navigation li:hover .wrap-submenu {
  display: block;
}


.search-block {
  position: relative;
  margin-left: 280px;
  width: 100px;
  height: 55px;
  text-align: right;
}

.search-button {
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/sprite.png");
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-position: -3px -889px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 5px;
  margin-top: 23px;
}

.search-button:hover {
  background-position: -3px -852px;
  background-color: rgba(248, 247, 244, 1.0);
}

.wrap-search {
  display: none;
  position: absolute;
  top: 50px;
  right: 5px;
  z-index: 1;
  padding-top: 10px;
}

.search-block:hover .wrap-search  {
  display: block;
}

.search-bg {
  width: 340px;
  height: 84px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.4);
}

.wrap-search .search {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 310px;
  height: 44px;
  padding-left: 14px;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px #d3d3d2 solid;
  border-radius: 5px;
}

.search:hover {
  box-shadow: inset 0 0 0 1px rgba(172, 172, 172, 0.5);
}

.wrap-search placeholder::-webkit-input-placeholder {color:#999999;}

.wrap-search placeholder::-moz-placeholder {color:#999999;}

.wrap-search placeholder::-ms-input-placeholder {color:#999999;}

.user-block {
  position: relative;
  display: flex;
  width: 220px;
  margin-left: auto;
  padding-top: 23px;
}

.user-block .login,
.user-block .basket {
  box-shadow: none;
  text-shadow: none;
  background: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.user-block .login,
.user-block .basket,
.user-block .full-basket {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 20px;
  box-sizing: border-box;
}

.user-block .login {
  width: 93px;
  padding: 8px 0px;
  padding-left: 30px; 
  margin-right: 7px;
}

.user-block .basket {
  width: 116px;
  padding: 8px 0px;
  padding-left: 12px;
}

.login::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 27px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
}

.login-icon::before {
  width: 21px;
  height: 19px;
  background-position: -10px -820px;
}

.login:hover::before {
  background-position: -10px -781px;
}

.user-block .login:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.wrap-login-form {
  position: absolute;
  display: none;
  top: 30px;
  right: 5px;
  z-index: 1;
  padding-top: 10px;
}

.login-block {
  position: relative;
  height: 33px;
}

.login-block:hover .wrap-login-form {
  display: block;
}


.login-form {
  position: relative;
  width: 277px;
  height: 213px;
  padding: 19px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f8f7f4;
}

.login-form .email {
  width: 241px;
  height: 44px;
  padding-left: 13px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px #d3d3d2 solid;
  border-radius: 5px;
}

.login-form .password {
  width: 241px;
  height: 44px;
  padding-left: 13px;
  box-sizing: border-box;
  border: 1px #d3d3d2 solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

.authorization-block {
  display: flex;
}

.login-form .btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  height: 43px;
  width: 109px;
  text-shadow: none;
}

.login-form placeholder::-webkit-input-placeholder {color:#999999;}

.login-form placeholder::-moz-placeholder {color:#999999;}

.login-form placeholder::-ms-input-placeholder {color:#999999;}

.login-form input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.user-block .help-links {
  display: inline-block;
  width: 130px;
  margin-left: 18px;
  text-decoration: none;
  color: white;
}

.help-links a {
  display: inline-block;
  vertical-align: top;
  height: 19px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}

.login-form a:hover {
  color: #e84d37;
  border-color: #e84d37;
}

.basket::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 26px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png"); 
}

.basket-icon::before {
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
}
.timetable {
  position: absolute;
  text-align: right;
  margin-top: 31px;
  right: 0;
}

.timetable p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 19px;
}

.timetable .tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.slider {
  position: relative;
  margin-bottom: 41px;
  text-align: center;
  padding-top: 316px;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 31px;
}

.slider .btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px 41px;
  border-radius: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: rgba(255, 255, 255, 1.0);
}

#btn-1 ~ .site-wrapper label[for="btn-1"]:hover,
#btn-2 ~ .site-wrapper label[for="btn-2"]:hover,
#btn-3 ~ .site-wrapper label[for="btn-3"]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#btn-1 ~ .site-wrapper label[for="btn-1"]:active,
#btn-2 ~ .site-wrapper label[for="btn-2"]:active,
#btn-3 ~ .site-wrapper label[for="btn-3"]:active {
  background-color: rgba(255, 255, 255, 1.0);
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png")
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png")
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png")
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
  background-image: url("../img/slide-2.png")
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png")
}

.special-offer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 229px;
  margin-bottom: 40px;
}

.special-offer-left, .special-offer-right {
  width: 560px;
  padding-bottom: 20px;
  box-sizing: border-box;
  min-height: 229px;
}

.special-offer h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  padding-left: 19px;
  margin-top: 16px;
  margin-bottom: 0px;
}

.special-offer-left p, .special-offer-right p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding-left: 20px;
  margin-top: 15px;
  padding-right: 15px;
  margin-bottom: 44px;
}

.special-offer-left .btn {
  padding: 11px 23px;
  margin-left: 374px;
  border-radius: 20px;
  text-shadow: none;
}

.special-offer-right .btn {
  padding: 10px 22px;
  padding-bottom: 11px;
  margin-left: 350px;
  border-radius: 20px;
  text-shadow: none;
}

.special-offer-left {
  background-image: url("../img/raspberry-bg.jpg");
  background-color: #b1073a;
  border-radius: 15px;
}

.special-offer-right {
  background-image: url("../img/chocolate-bg.jpg");
  background-color: #371a0f;
  border-radius: 15px;
}

.most-popular {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 325px;
}

.gallery-card {
  position: relative;
  width: 267px;
  margin-bottom: 37px;
}

.hit::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png"); 
}

.gallery-card::before {
  width: 61px;
  height: 61px;
  background-position: -10px -648px;
}

.gallery-card:hover .hit {
  position: relative;
  z-index: 5;
}

.price {
  position: absolute;
  top: 209px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  left: 0;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.gallery-card img {
  margin-bottom: 7px;
}

.product-name {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 9px;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.gallery-card:hover .product-name {
  border: none;
}

.kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  padding-left: 35px;
}

.sprite-rouble::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 27px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.kg::before {
  width: 31px;
  height: 36px;
  background-position: -10px -1101px;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 305px;
  margin-bottom: 41px;
  background-image: url(../img/waffle-bg.jpg);
  background-color: #eee4ce;
  border-radius: 15px;
  color: #323232;
}

.features-common {
  position: relative;
  width: 480px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 0px;
  width: 100%;
}

.features .letter-spacing {
  letter-spacing: 0.001in;
}

.features-icecream {
  margin-left: 76px;
  margin-top: 15px;
}

.features-cow {
  margin-right: 22px;
  margin-top: 15px;
}

.features-leaf {
  margin-left: 76px;
  margin-top: 0px;
}

.features-thermometr {
  margin-right: 22px;
  margin-top: 0px;
}

.features-common::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -33px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.features-icecream::before {
  width: 49px;
  height: 49px;
  background-position: -10px -408px;
}

.features-cow::before {
  width: 48px;
  height: 49px;
  background-position: -10px -339px;
}

.features-leaf::before {
  width: 49px;
  height: 49px;
  background-position: -10px -477px;
}

.features-thermometr::before {
  width: 48px;
  height: 49px;
  background-position: -10px -546px;
}

.news {
  display: flex;
  font-weight: 700;
  min-height: 220px;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: flex-start;
}

.news-left {
  width: 560px;
  min-height: 220px;
  color: #323232;
  background-image: url(../img/strawberry-bg.jpg);
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 15px;
}

.news-left p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 24px;
  margin-bottom: 4px;
}

.news-left a {
  display: flex;
  width: 330px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  padding-left: 20px;
}

.pattern-bg {
  width: 560px;
  min-height: 220px;
  position: relative;
  background-image: url(../img/post-pattern.jpg);
  background-repeat: repeat;
  border-radius: 15px;
}

.news-right {
  width: 550px;
  min-height: 210px;
  background-color: rgb(248, 247, 244);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 15px;
}

.news-right p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 22px;
  margin-top: 29px;
  color: #5a5a5a;
  width: 519px;
}

.news-right form {
  margin-top: 35px;
  padding-left: 22px;
}

.news-email {
  padding: 12px 0;
  padding-left: 12px;
  width: 352px;
  border: 1px #d3d3d2 solid;
  border-radius: 5px;
  color: #999999;
}

.news-right .btn {
  padding: 10px 18px;
  margin-left: 9px;
  border: none;
  border-radius: 20px;
  text-shadow: none;
}

.map {
  position: relative;
  background-image: url("../img/map.jpg");
  height: 430px;
}

.map iframe {
  width: 100%;
  height: 430px;
}

.contacts {
  position: absolute;
  top: 62px;
  left: 50%;
  width: 276px;
  min-height: 305px;
  background-color: #ffffff;
  text-align: left;
  margin-left: 272px;
  padding-left: 25px;
  color: #323232;
  border-radius: 15px;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts p:nth-child(1) {
  margin-top: 28px;
  margin-bottom: 0;
  width: 155px;
}

.contacts p:nth-child(2) {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 250px;
  margin-top: 3px;
  margin-bottom: 16px;
}

.contacts p:nth-child(3) {
  width: auto;
  margin-bottom: 6px;
}

.contacts .tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
  margin-bottom: 0px;
}

.contacts p:nth-child(5) {
  margin-top: 2px;
}

.contacts .btn {
  padding: 10px 27px;
  margin-top: 11px;
  border-radius: 20px;
  text-shadow: none;
}

.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 454px;
  height: 442px;
  margin-left: -237px;
  margin-top: -295px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 50px 3px #595a5a;
  z-index: 100;
  color: #323232;
  padding-left: 24px;
}

.modal-content placeholder::-webkit-input-placeholder {color:#c0392b;}

.modal-content placeholder::-moz-placeholder {color:#c0392b;}

.modal-content placeholder::-ms-input-placeholder {color:#c0392b;}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 77px;
  right: 0px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-content-close::after {
  content: "";
  position: absolute;
  top: -54px;
  right: 6px;
  transform: translate(-49%, -49%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  background-position: -10px -250px;
}

.modal-content-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 19px;
  color: #323232;
}

.modal-content .username,
.modal-content .email {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 2px;
  width: 251px;
  height: 41px;
  margin-bottom: 18px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px #d3d3d2 solid;
}

.write-us textarea {
  width: 410px;
  height: 140px; 
  padding-top: 12px;
  padding-left: 14px;
  border: 1px #d3d3d2 solid;
  border-radius: 5px;
}

.write-us .btn {
  padding: 10px 23px;
  margin-top: 20px;
  margin-left: 291px;
  border: none;
  border-radius: 20px;
}

.main-footer-layout {
  display: flex;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-right: 210px;
  font-size: 0px;
  width: 187px;
}

.social-btn {
  width: 32px;
  height: 32px;
  border: 3px rgba(255, 255, 255, 0.5) solid;
  border-radius: 100%;
  margin-top: 31px;
  position: relative;
  vertical-align: middle;
  background-image: url(../img/sprite.png);
}

.social-btn:active {
  box-shadow: inset 0px 1px 2px 0px black;
}

.social-btn-twitter {
  width: 32px;
  height: 32px;
  background-position: -10px -1157px;
}

.social-btn-inst {
  width: 32px;
  height: 32px;
  background-position: -10px -729px;
}

.social-btn-fb {
  width: 32px;
  height: 32px;
  background-position: -10px -287px;
}

.social-btn-vk {
  width: 32px;
  height: 32px;
  background-position: -10px -1209px;
}


.footer-menu {
  width: 335px;
  margin-top: 11px;
  position: relative;
}

.footer-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -5px;
  transform: translate(50%, 50%);
  background-image: url("../img/sprite.png");
}

.heart-icon::before {
  width: 15px;
  height: 13px;
  background-position: -10px -615px;
}

.footer-menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 0;
  padding-left: 25px;
  padding-right: 0;
}

.footer-menu li {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.footer-menu li:nth-child(1) {
  margin-right: 31px;
}

.footer-menu li:nth-child(3) {
  margin-right: 43px;
}

.footer-menu a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.footer-menu a:hover {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.footer-menu .bold {
  font-weight: 700;
}

.copyright {
  margin-left: auto;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright img {
  margin-top: 13px;
  margin-left: 2px;
  margin-bottom: 0px;
}

.copyright p {
  margin-top: 0px;
}

.copyright a {
  color: white;
  text-decoration: none;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.copyright a:hover {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.copyright > a {
  border: none;
}

/* КАТАЛОГ */

.main-navigation .current-page {
  background-color: #d07058;
  color: white;
  padding: 7px 13px;
}

.current-page a {
  border: none;
}

.user-block .full-basket {
  position: relative;
  width: 116px;
  padding: 8px 0px;
  padding-right: 17px;
  text-align: right;
  text-shadow: none;
  box-shadow: none;
  background: none;
  background-color:  rgba(248, 247, 244, 1.0);
  color: #323232;
}

.user-block .full-basket::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 26px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png"); 
}

.user-block .full-basket-icon::before {
  width: 21px;
  height: 20px;
  background-position: -10px -50px;
}

.wrap-basket {
  display: none;
  position: absolute;
  top: 30px;
  right: 0px;
  z-index: 1;
  padding-top: 10px;
}

.basket-block {
  height: 33px;
  position: relative;
}

.basket-block:hover .wrap-basket {
  display: block;
}

.basket-inside {
  position: relative;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  width: 539px;
  height: 242px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px 15px;
}

.basket-inside table {
  font-family: 'Roboto Regular', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 16px;
  width: 510px;
  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
}

.basket-inside tr {
  height: 54px;
  vertical-align: middle;
}

.basket-inside td {
  margin-right: 10px;
  vertical-align: middle
}

.basket-inside img {
  margin-left: 0px;
  margin-right: 7px;
}

.cel-1, .cel-2 {
  width: 223px;
}

.col-3 {
  padding-right: 0;
  padding-left: 25px;
}

.col-4 {
  padding-right: 10px;
  padding-left: 15px;
}

.cel-2 {
  padding-top: 14px;
}

.basket-inside .last-row {
  height: 12px;
}

.basket-inside p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 12px;
}

.basket-inside .btn {
  margin-left: 337px;
  padding: 10px 15px;
  border-radius: 45px;
  text-shadow: none;
}

.basket-inside .price-color {
  color: #999999;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 23px;
}

.breadcrumbs a::after {
  content: "»";
  position: absolute;
  left: 60px;
}

.breadcrumbs a:hover::after {
  color: white;
}

.breadcrumbs a:nth-child(3)::after {
  display: none;
}

.breadcrumbs a {
  position: relative;
  margin-right: 18px;
  color: white;
  text-decoration: none;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.breadcrumbs a:nth-child(3) {
  border: none;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 14px;
}

.filters {
  margin-bottom: 40px;
}

.filters h2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters form {
  display: flex;
  flex-wrap: wrap;
}

.sort-by {
  width: 195px;
  margin-right: 14px;
}

.sort-by h2 {
  padding-left: 16px;
  margin-bottom: 5px;
}

.sort-by select {
  padding: 8px 0;
  padding-left: 10px;
  padding-right: 18px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  -ms-appearance: none;
  -moz-appearance: none;
}

.sort-by select:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: #323232;
}

.sort-by-price {
  width: 219px;
  margin-right: 13px;
}

.sort-by-price h2 {
  padding-left: 14px;
  margin-bottom: 6px;
}

.range-controls {
  position: relative;
  height: 36px;
  padding: 0 15px;
  background-color: #9cb0a4;
  border-radius: 25px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 16px;
  height: 4px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 4px;
  background-color: #f8f7f4;
  margin-left: 20px;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 34px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.range-controls .max-toggle {
  left: 132px;
}

.range-controls .min-toggle:hover {
  width: 22px;
  height: 22px;
  top: 7px;
  left: 32px;
}

.range-controls .max-toggle:hover {
  width: 22px;
  height: 22px;
  top: 7px;
  left: 130px;
}

.sort-by-fat {
  width: 415px;
}

.sort-by-fat h2 {
  padding-left: 15px;
  margin-bottom: 6px;
}

.fat-percent {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px 15px;
  border-radius: 20px;
  display: flex;
}

.wrap-fat {
  margin-right: 50px;
  position: relative;
}

.wrap-fat:nth-child(1) {
  margin-left: 32px;
}

.wrap-fat:nth-child(4) {
  margin-right: 0;
}


.wrap-fat input[type="checkbox"],
.wrap-fat input[type="radio"]{
  display: none;
}

.wrap-fat input[type="radio"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: 0px;
  left: -31px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 21px;
  height: 22px;
  background-position: -10px -1017px;
}

.wrap-fat input[type="radio"]:checked + label::before {
  background-position: -10px -1059px;
}

.wrap-fat input[type="radio"] + label:hover::before {
  background-position: -10px -933px;
}

.wrap-fat input[type="radio"]:checked + label:hover::before {
  background-position: -10px -975px;
}

.sort-by-filler {
  width: 703px;
  margin-top: 5px;
}

.sort-by-filler h2 {
  padding-left: 15px;
  margin-bottom: 6px;
}

.filler-type {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px 5px;
  border-radius: 20px;
  display: flex;
}

.wrap-filler {
  margin-right: 54px;
  position: relative;
}

.wrap-filler:nth-child(1) {
  margin-left: 44px;
}

.wrap-filler:nth-child(5) {
  margin-right: 0;
}

.wrap-filler input[type="checkbox"] {
  display: none;
}

.wrap-filler input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: 1px;
  left: -34px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-position: -10px -170px;
}

.wrap-filler input[type="checkbox"]:checked + label::before {
  background-position: -10px -210px;
}

.wrap-filler input[type="checkbox"] + label:hover::before {
  background-position: -10px -90px;
}

.wrap-filler input[type="checkbox"]:checked + label:hover::before {
  background-position: -10px -130px;
}

.filters input[type="radio"]:disabled + label,
.filters input[type="checkbox"]:disabled + label {
  color: rgba(255, 255, 255, 0.4);
}

.filters input[type="radio"]:disabled + label::before {
  opacity: 0.4;
}

.filters input[type="checkbox"]:disabled + label::before {
  opacity: 0.4;
}

.filters .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 38px;
  margin-left: 13px;
  height: 36px;
  width: 144px;
  border: 2px white solid;
  border-radius: 20px;
  background: none;
  text-shadow: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  
}

.filters .btn:hover {
  background-color: white;
  color: #323232;
}

.filters .btn:active {
  background-color: #eaeaea;
  color: #353535;
  box-shadow: 0 -2px 0 rgba(109, 108, 108, 1.0);
}

.gallery-card {
  position: relative;
  text-align: center;
}

.gallery-card::after {
  content: "";
  display: none;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 293px;
  min-height: 405px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
}

.gallery-card:hover::after {
  display: block;
  height: 100%;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-card .btn {
  position: relative;
  display: none;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: rgb(234, 85, 58);
  text-shadow: none;
}

.gallery-card:hover .btn {
  display: inline-block;
  z-index: 2;
  margin: 10px auto 0 auto;
}

.gallery-card:hover {
  position: relative;
  margin-bottom: -25px;
  z-index: 2;
}

.gallery-card:hover img {
  position: relative;
  z-index: 2;
}

.gallery-card:hover .price {
  z-index: 2;
}

.hit::before {
  z-index: 3;
}

.pagination {
  width: 199px;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 35px;
  margin-top: 43px;
  box-sizing: border-box;
}

.pagination a {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 25px;
  display: inline-block;
  min-width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}

.previous-page {
  font-size: 0;
  -webkit-transform: rotate(135deg) scale(.3);
  transform: rotate(135deg) scale(.3);    
  opacity: 0.4;
  box-shadow: 4px 4px 0 1px #fff;
}

.next-page {
  font-size: 0;
  -webkit-transform: rotate(-45deg) scale(.3);
  transform: rotate(-45deg) scale(.3);
  box-shadow: 4px 4px 0 1px #fff;
}

.pagination a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 50%;
}

.pagination a:active {
  background-color: rgba(255, 255, 255, 1.0);
  color: black;
}

.pagination .active-page {
  color: black;
  border-radius: 50%;
  background: #fff;
}

.dash {
  border-top: 1px #b5c4bc solid;
}

@-webkit-keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10); }
  100% { transform: translateY(0);}
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10); }
  100% { transform: translateY(0); }
}
