body {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.btn {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  color: white;
}

.submenu {
  display: none;
}

.login-form {
  display: none;
}

.search {
  display: none;
}

.quick-view {
  display: none;
}

.modal-content {
  display: block;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  margin-bottom: 0px;
}

.main-header-layout {
  display: flex;
  flex-wrap: wrap;
}

.main-header-layout > a {
  height: 74px;
}

.logo {
  padding-top: 9px;
  padding-left: 0px;
}


.main-navigation {
  min-height: 75px;
}

.main-navigation ul {
  padding: 0;
  margin-left: 14px;
  font-size: 0px;
}

.main-navigation li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.main-navigation a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.main-navigation a:hover {
  background-color: #f7f6f3;
  color: #333333;
}

.wrap-submenu {
  position: absolute;
  z-index: 1;
}

.submenu {
  width: 143px;
  min-height: 170px;
  background-color: #f8f7f4;
}

.submenu li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

.submenu a {
  display: inline-block;
  width: 143px;
  border: none;
  border-radius: 0px;
  padding: 10px 0;
  color: #323232;
}

.search-block {
  position: relative;
  margin-left: 170px;
  width: 205px;
}

.search-button {
  content: "";
  position: absolute;
  top: 38px;
  right: 3px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
}

.loupe-icon {
  width: 17px;
  height: 17px;
  background-position: -10px -896px;
}
.user-block {
  position: relative;
  width: 220px;
  margin-left: auto;
  padding-top: 23px;
}

.login, .basket, .full-basket {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 20px;
  box-sizing: border-box;
}

.login {
  width: 93px;
  padding: 8px 0px;
  padding-left: 30px; 
  margin-right: 7px;
}

.basket {
  width: 116px;
  padding: 8px 0px;
  padding-left: 12px;
}

.login::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 27px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png"); 
}

.login-icon::before {
  width: 21px;
  height: 19px;
  background-position: -10px -820px;
}

.login:hover::before {
  background-position: -10px -781px;
}

.user-block .login:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.basket::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 26px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png"); 
}

.basket-icon::before {
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
}

.user-block .login, .basket {
  background-color: rgba(248, 247, 244, 0.2);
}

.timetable {
  position: absolute;
  text-align: right;
  right: 0;
}

.timetable p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 19px;
}

.timetable .tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.slider {
  position: relative;
  margin-bottom: 41px;
  text-align: center;
  padding-top: 316px;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 31px;
}

.slider .btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px 41px;
  border-radius: 100px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: rgb(234, 85, 58);
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider .btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1.0);
}

.slider .btn:active {
  background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: white;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png")
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png")
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png")
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
  background-image: url("../img/slide-2.png")
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png")
}

.special-offer {
  display: flex;
  justify-content: space-between;
  min-height: 229px;
  margin-bottom: 40px;
}

.special-offer-left, .special-offer-right {
  width: 560px;
}

.special-offer h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  padding-left: 19px;
  margin-top: 16px;
  margin-bottom: 0px;
}

.special-offer-left p, .special-offer-right p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding-left: 20px;
  margin-top: 15px;
  padding-right: 15px;
}

.special-offer-left .btn {
  padding: 11px 22px;
  margin-left: 375px;
  margin-top: 26px;
  border-radius: 25px;
  background-color: rgb(234, 85, 58);
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.special-offer-left .btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1.0);
}

.special-offer-left .btn:active {
  background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.special-offer-right .btn {
  padding: 11px 21px;
  margin-left: 350px;
  margin-top: 25px;
  border-radius: 25px;
  background-color: rgb(234, 85, 58);
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.special-offer-right .btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1.0);
}

.special-offer-right .btn:active {
  background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.special-offer-left {
  background-image: url("../img/raspberry-bg.jpg");
  border-radius: 15px;
}

.special-offer-right {
  background-image: url("../img/chocolate-bg.jpg");
  border-radius: 15px;
}

.most-popular {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 325px;
}

.gallery-card {
  position: relative;
  width: 267px;
}

.hit::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png"); 
}

.gallery-card::before {
  width: 61px;
  height: 61px;
  background-position: -10px -648px;
}

.price {
  position: absolute;
  bottom: 80px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.product-name {
  margin-top: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  padding-left: 35px;
}

.sprite-rouble::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 62%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.kg::before {
  width: 31px;
  height: 36px;
  background-position: -10px -1101px;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 305px;
  margin-bottom: 41px;
  background-image: url(../img/waffle-bg.jpg);
  border-radius: 15px;
  color: #323232;
}

.features-common {
  position: relative;
  width: 480px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 0px;
}

.features .letter-spacing {
  letter-spacing: 0.001in;
}

.features-icecream {
  margin-left: 76px;
  margin-top: 15px;
}

.features-cow {
  margin-right: 22px;
  margin-top: 15px;
}

.features-leaf {
  margin-left: 76px;
  margin-top: 0px;
}

.features-thermometr {
  margin-right: 22px;
  margin-top: 0px;
}

.features-common::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -33px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.features-icecream::before {
  width: 49px;
  height: 49px;
  background-position: -10px -408px;
}

.features-cow::before {
  width: 48px;
  height: 49px;
  background-position: -10px -339px;
}

.features-leaf::before {
  width: 49px;
  height: 49px;
  background-position: -10px -477px;
}

.features-thermometr::before {
  width: 48px;
  height: 49px;
  background-position: -10px -546px;
}

.news {
  display: flex;
  min-height: 220px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-left {
  width: 560px;
  color: #323232;
  background-image: url(../img/strawberry-bg.jpg);
  border-radius: 15px;
}

.news-left p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 24px;
  margin-bottom: 4px;
}

.news-left a {
  display: flex;
  width: 330px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  padding-left: 20px;
}

.pattern-bg {
  width: 560px;
  min-height: 220px;
  position: relative;
  background-image: url(../img/post-pattern.jpg);
  background-repeat: repeat;
  border-radius: 15px;
}

.news-right {
  width: 550px;
  height: 210px;
  background-color: rgb(248, 247, 244);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 15px;
}

.news-right p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 22px;
  margin-top: 29px;
  color: #5a5a5a;
  width: 519px;
}

.news-right form {
  margin-top: 35px;
  padding-left: 22px;
}

.news-email {
  padding: 12px 0;
  padding-left: 12px;
  width: 352px;
  border: 1px #d3d3d2 solid;
  border-radius: 5px;
  color: #999999;
}

.news-right .btn {
  padding: 10px 18px;
  margin-left: 9px;
  border: none;
  border-radius: 25px;
  background-color: rgb(234, 85, 58);
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.news-right .btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1.0);
}

.news-right .btn:active {
  background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.map {
  position: relative;
}

.map iframe {
  width: 100%;
  height: 430px;
}

.contacts {
  position: absolute;
  top: 62px;
  left: 50%;
  width: 276px;
  min-height: 305px;
  background-color: #ffffff;
  text-align: left;
  margin-left: 272px;
  padding-left: 25px;
  color: #323232;
  border-radius: 15px;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts p:nth-child(1) {
  margin-top: 28px;
  margin-bottom: 0;
  width: 155px;
}

.contacts p:nth-child(2) {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 250px;
  margin-top: 3px;
  margin-bottom: 16px;
}

.contacts p:nth-child(3) {
  width: auto;
  margin-bottom: 6px;
}

.contacts .tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
  margin-bottom: 0px;
}

.contacts p:nth-child(5) {
  margin-top: 2px;
}

.contacts .btn {
  padding: 11px 28px;
  margin-top: 11px;
  border-radius: 25px;
  background-color: rgb(234, 85, 58);
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.contacts .btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1.0);
}

.contacts .btn:active {
  background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 454px;
  height: 442px;
  margin-left: -237px;
  margin-top: -295px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 50px 3px #595a5a;
  z-index: 120;
  color: #323232;
  padding-left: 24px;
}

.modal-content placeholder::-webkit-input-placeholder {color:#c0392b;}

.modal-content placeholder::-moz-placeholder {color:#c0392b;}

.modal-content placeholder::-ms-input-placeholder {color:#c0392b;}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 77px;
  right: 0px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-content-close::after {
  content: "";
  position: absolute;
  top: -54px;
  right: 6px;
  transform: translate(-49%, -49%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  background-position: -10px -250px;
}

.modal-content-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 19px;
  color: #323232;
}

.username, .email {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 2px;
  width: 251px;
  height: 41px;
  margin-bottom: 18px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px #d3d3d2 solid;
}

.write-us textarea {
  width: 410px;
  height: 140px; 
  padding-top: 12px;
  padding-left: 14px;
  border: 1px #d3d3d2 solid;
  border-radius: 5px;
}

.write-us .btn {
  padding: 10px 23px;
  margin-top: 20px;
  margin-left: 291px;
  border: none;
  border-radius: 25px;
  background-color: rgb(234, 85, 58);
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.write-us .btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1.0);
}

.write-us .btn:active {
  background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.main-footer-layout {
  display: flex;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-right: 210px;
  font-size: 0px;
  width: 187px;
}

.social-btn {
  width: 32px;
  height: 32px;
  border: 3px #c2cec7 solid;
  border-radius: 100%;
  margin-top: 34px;
  position: relative;
  background-image: url(../img/sprite.png);
}

.social-btn-twitter {
  width: 32px;
  height: 32px;
  background-position: -10px -1157px;
}

.social-btn-inst {
  width: 32px;
  height: 32px;
  background-position: -10px -729px;
}

.social-btn-fb {
  width: 32px;
  height: 32px;
  background-position: -10px -287px;
}

.social-btn-vk {
  width: 32px;
  height: 32px;
  background-position: -10px -1209px;
}

.footer-menu {
  width: 335px;
  margin-top: 17px;
  position: relative;
}

.footer-menu::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -5px;
  transform: translate(50%, 50%);
  background-image: url("../img/sprite.png");
}

.heart-icon::before {
  width: 15px;
  height: 13px;
  background-position: -10px -615px;
}

.footer-menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 0;
  padding-left: 25px;
  padding-right: 0;
}

.footer-menu li {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.footer-menu li:nth-child(1) {
  margin-right: 31px;
}

.footer-menu li:nth-child(3) {
  margin-right: 43px;
}

.footer-menu a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.footer-menu .bold {
  font-weight: 700;
}

.copyright {
  margin-left: auto;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright img {
  margin-top: 18px;
  margin-left: 2px;
  margin-bottom: 0px;
}

.copyright p {
  margin-top: 0px;
}

.copyright a {
  color: white;
  text-decoration: none;
}

/* КАТАЛОГ */

.full-basket {
  width: 116px;
  padding: 8px 0px;
  padding-right: 17px;
  text-align: right;
  background-color:  rgba(248, 247, 244, 1.0);
  color: #323232;
}

.full-basket::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 26px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png"); 
}

.full-basket-icon::before {
  width: 21px;
  height: 20px;
  background-position: -10px -50px;
}

.basket-inside {
  display: none;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 23px;
}

.breadcrumbs a {
  margin-right: 17px;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 14px;
}

.filters {
  margin-bottom: 40px;
}

.filters h2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters form {
  display: flex;
  flex-wrap: wrap;
}

.sort-by {
  width: 195px;
  margin-right: 14px;
}

.sort-by h2 {
  padding-left: 16px;
  margin-bottom: 5px;
}

.sort-by select {
  padding: 8px 0;
  padding-left: 10px;
  padding-right: 18px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.sort-by select:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: #323232;
}

.sort-by-price {
  width: 219px;
  margin-right: 13px;
}

.sort-by-price h2 {
  padding-left: 14px;
  margin-bottom: 6px;
}

.range-controls {
  position: relative;
  height: 36px;
  padding: 0 15px;
  background-color: #9cb0a4;
  border-radius: 25px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 16px;
  height: 4px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 4px;
  background-color: #f8f7f4;
  margin-left: 20px;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 34px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.range-controls .max-toggle {
  left: 132px;
}

.sort-by-fat {
  width: 415px;
}

.sort-by-fat h2 {
  padding-left: 15px;
  margin-bottom: 6px;
}

.fat-percent {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px 15px;
  border-radius: 20px;
  display: flex;
}

.wrap-fat {
  margin-right: 50px;
  position: relative;
}

.wrap-fat:nth-child(1) {
  margin-left: 32px;
}

.wrap-fat:nth-child(4) {
  margin-right: 0;
}


.wrap-fat input[type="checkbox"] {
  display: none;
}

.wrap-fat input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: 0px;
  left: -31px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 21px;
  height: 22px;
  background-position: -10px -1017px;
}

.wrap-fat input[type="checkbox"]:checked + label::before {
  background-position: -10px -1059px;
}

.wrap-fat input[type="checkbox"] + label:hover::before {
  background-position: -10px -933px;
}

.wrap-fat input[type="checkbox"]:checked + label:hover::before {
  background-position: -10px -975px;
}

.sort-by-filler {
  width: 703px;
  margin-top: 5px;
}

.sort-by-filler h2 {
  padding-left: 15px;
  margin-bottom: 6px;
}

.filler-type {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7px 5px;
  border-radius: 20px;
  display: flex;
}

.wrap-filler {
  margin-right: 54px;
  position: relative;
}

.wrap-filler:nth-child(1) {
  margin-left: 44px;
}

.wrap-filler:nth-child(5) {
  margin-right: 0;
}

.wrap-filler input[type="checkbox"] {
  display: none;
}

.wrap-filler input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: 1px;
  left: -34px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-position: -10px -170px;
}

.wrap-filler input[type="checkbox"]:checked + label::before {
  background-position: -10px -210px;
}

.wrap-filler input[type="checkbox"] + label:hover::before {
  background-position: -10px -90px;
}

.wrap-filler input[type="checkbox"]:checked + label:hover::before {
  background-position: -10px -130px;
}

.filters .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 38px;
  margin-left: 13px;
  height: 36px;
  width: 144px;
  border: 2px white solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  
}

.filters .btn:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: #323232;
}

.gallery-card {
  position: relative;
}

.gallery-card::after {
  content: "";
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 293px;
  height: 405px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-card {
  margin-bottom: 22px;
}

.gallery-card .btn {}

